body{
	background: #ccc;
	font-size: 16px;
	font-family: arial;
	margin: 0;
	padding: 0;
	min-width: 480px;
}
article a.menos, article a.mas{
	padding: 0.5em 0.9em;
	background: #0B243B;
	color: white;
	text-decoration: none;
	font-weight: bold;
}
article a.btcomprar{
	display: block;
	background: orange;
	padding: 0.5em 0em;
	text-align: center;
	margin: 0.5em 0;
}
article input{
	display: inline-block;
	padding: 0.2em 0.9em;
	width: 25px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}
header{
	background: white;
	padding: 0em 1em 0 1em;
}
header h1, header section{
	display: inline-block;
}
header section{
	float: right;
}
header .newsletter p{
	color: #434343;
	font-size: 0.7em;
	margin: 1em 1em 0 0;
}

.slide_imagen{
	margin: auto;
	padding:0;
}
.slide_imagen article{
	background: white;
	border-radius: 10px;
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	padding: 1.5em;
	position: relative;
	float: right;
	margin: 2em 2em 0 0;
	z-index: 2;
}
.slide_imagen #slide_canto5{
	position: absolute;
	z-index: -10;
	margin-top: 0px;
	width: 100%;
}
.slide_imagen #slide_canto5 img{
	width: 100%;
}